# browser-use-recorder:
browser-use-recorder
langchain
langchain_openai
pandas
sounddevice

# record_activity:
pyobjtojson

# SpiderCreator:
attrs
attrs_strict
pyhtml2md
validators
tldextract
betterhtmlchunking
ptyprocess

# Receive API data:
fastapi
uvicorn

# Miscelaneous:
# pydantic
prettyprinter
